@media (min-width: 0) and (max-width: 480px) {
  .Banner .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .Banner .navbar .container-fluid {
    line-height: 0px;
  }
  .Banner .navbar .container-fluid .navbar-brand {
    width: 50%;
    max-height: 40px;
  }
  .Banner .banner-text {
    text-align: center;
    padding: 50px 0 50px 0 !important;
  }
  .Banner .banner-text-all h2 {
    font-size: 2.625rem !important;
  }
  .Banner .banner-text-all h6 {
    font-size: 1rem !important;
    line-height: 1.6;
    padding-bottom: 15px !important;
  }
  .services {
    padding: 60px 0 40px 0 !important;
  }
  .services-heading {
    width: 100%;
  }
  .services-heading h2 {
    font-size: 1.8rem;
  }
  .services-heading p {
    font-size: 1.125rem;
  }
  .about {
    padding: 40px 15px 40px 15px;
  }
  .about-text {
    padding: 0;
  }
  .about-text h5 {
    font-size: 1rem;
  }
  .about-text h3 {
    font-size: 1.8rem;
  }
  .about-img img {
    width: 100%;
  }
  .experience {
    padding: 100px 0 70px 0;
  }
  .experience-text {
    padding: 15px 30px !important;
  }
  .experience-text h5 {
    font-size: 1rem;
  }
  .experience-text h3 {
    font-size: 1.8rem;
  }
  .experience .exc-services {
    padding: 70px 0 20px 0;
  }
  .experience .exc-services-heading {
    width: 100%;
  }
  .experience .exc-services-heading h3 {
    font-size: 1.8rem;
  }
  .experience .exc-services-heading p {
    padding: 0 50px;
  }
  .choose-heading {
    width: 100%;
  }
  .choose h5 {
    font-size: 1rem;
  }
  .choose h3 {
    font-size: 1.8rem;
  }
  .choose-card {
    margin: 60px 0 40px 0;
  }
  .choose-footer {
    padding-bottom: 40px;
  }
  .approach {
    padding: 40px 15px;
    margin-bottom: 0 !important;
  }
  .approach-heading {
    width: 100%;
  }
  .approach-heading h5 {
    font-size: 1rem;
  }
  .approach-heading h3 {
    font-size: 1.9rem;
  }
  .approach-img-text {
    padding: 45px 30px;
    position: relative !important;
    width: 100%;
    left: 0%;
  }
  .approach-img h3 {
    font-size: 1.5rem;
  }
  .approach-img p {
    font-size: 16px;
  }
  .feedback {
    padding: 40px 15px 40px 15px;
  }
  .feedback-heading {
    width: 100%;
  }
  .feedback-heading h3 {
    font-size: 1.8rem;
  }
  .feedback-heading p {
    font-size: 1.125rem;
  }
  .video {
    padding: 70px 15px;
  }
  .video-text {
    width: 100%;
  }
  .video-text h3 {
    font-size: 2rem;
    padding-bottom: 15px;
  }
  .questions {
    padding: 60px 15px 40px 15px;
  }
  .questions-heading {
    width: 100%;
  }
  .questions-heading h2 {
    font-size: 1.8rem;
    padding-bottom: 15px;
  }
  .questions-heading p {
    padding-bottom: 30px;
  }
  .questions-contact {
    width: 100%;
    padding: 30px 40px;
    display: inline-block !important;
    text-align: center;
  }
  .questions-contact h6 {
    font-size: 1rem;
    width: 100%;
    line-height: 1.6;
  }
  .address {
    text-align: center;
    padding: 20px 0;
  }
  .address-icons {
    padding-bottom: 15px;
  }
  .address-icons img {
    width: 25% !important;
  }
  .footer-bottom-left {
    text-align: center !important;
    padding-bottom: 15px;
  }
  .footer-bottom-right {
    text-align: center !important;
  }
  .sticky .navbar {
    padding: 20px 0 !important;
  }
}
@media (min-width: 480px) and (max-width: 720px) {
  .Banner .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .Banner .navbar .container-fluid {
    line-height: 0px;
  }
  .Banner .navbar .container-fluid .navbar-brand {
    width: 32%;
    max-height: 40px;
  }
  .Banner .banner-text {
    text-align: center;
    padding: 50px 0 50px 0 !important;
  }
  .Banner .banner-text-all h2 {
    font-size: 2.9rem !important;
  }
  .Banner .banner-text-all h6 {
    font-size: 1rem !important;
    line-height: 1.6;
    padding-bottom: 15px !important;
  }
  .services {
    padding: 60px 0 40px 0 !important;
  }
  .services-heading {
    width: 100%;
  }
  .services-heading h2 {
    font-size: 2.15rem;
  }
  .services-heading p {
    font-size: 1.125rem;
  }
  .about {
    padding: 40px 15px 40px 15px;
  }
  .about-text {
    padding: 0;
  }
  .about-text h5 {
    font-size: 1rem;
  }
  .about-text h3 {
    font-size: 2.15rem;
  }
  .about-img img {
    width: 100%;
  }
  .experience {
    padding: 100px 0 70px 0;
  }
  .experience-text {
    padding: 15px 30px !important;
  }
  .experience-text h5 {
    font-size: 1rem;
  }
  .experience-text h3 {
    font-size: 2.15rem;
  }
  .experience .exc-services {
    padding: 70px 0 20px 0;
  }
  .experience .exc-services-heading {
    width: 100%;
  }
  .experience .exc-services-heading h3 {
    font-size: 2.15rem;
  }
  .experience .exc-services-heading p {
    padding: 0 50px;
  }
  .choose-heading {
    width: 100%;
  }
  .choose-heading h5 {
    font-size: 1rem;
  }
  .choose-heading h3 {
    font-size: 2.15rem;
  }
  .choose-card {
    margin: 60px 0 40px 0;
  }
  .choose-footer {
    padding-bottom: 40px;
  }
  .approach {
    padding: 40px 15px;
    margin-bottom: 0 !important;
  }
  .approach-heading {
    width: 100%;
  }
  .approach-heading h5 {
    font-size: 1rem;
  }
  .approach-heading h3 {
    font-size: 2.15rem;
  }
  .approach-img-text {
    padding: 45px 30px;
    position: relative !important;
    width: 100%;
    left: 0%;
  }
  .approach-img h3 {
    font-size: 1.8rem;
  }
  .approach-img p {
    font-size: 16px;
  }
  .feedback {
    padding: 40px 15px 40px 15px;
  }
  .feedback-heading {
    width: 100%;
  }
  .feedback-heading h3 {
    font-size: 2.15rem;
  }
  .feedback-heading p {
    font-size: 1.125rem;
  }
  .video {
    padding: 90px 15px;
  }
  .video-text {
    width: 100%;
  }
  .video-text h3 {
    font-size: 2.5rem;
    padding-bottom: 15px;
  }
  .questions {
    padding: 60px 15px 40px 15px;
  }
  .questions-heading {
    width: 100%;
  }
  .questions-heading h2 {
    font-size: 2.15rem;
    padding-bottom: 15px;
  }
  .questions-heading p {
    padding-bottom: 30px;
  }
  .questions-contact {
    width: 100%;
    padding: 30px 40px;
    display: inline-block !important;
    text-align: center;
  }
  .questions-contact h6 {
    font-size: 1rem;
    width: 100%;
    line-height: 1.6;
  }
  .address {
    text-align: center;
    padding: 20px 0;
  }
  .address-icons {
    padding-bottom: 15px;
  }
  .address-icons img {
    width: 25% !important;
  }
  .footer-bottom-left {
    text-align: center !important;
    padding-bottom: 15px;
  }
  .footer-bottom-right {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .sticky .navbar {
    padding: 25px 0 !important;
  }
}
@media (min-width: 720px) and (max-width: 960px) {
  .Banner .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .Banner .navbar .container-fluid {
    line-height: 0px;
  }
  .Banner .navbar .container-fluid .navbar-brand {
    width: 28%;
    max-height: 40px;
  }
  .Banner .banner-text {
    padding: 50px 0 50px 0 !important;
  }
  .Banner .banner-text-all h2 {
    font-size: 3.75rem !important;
  }
  .Banner .banner-text-all h6 {
    font-size: 1rem !important;
    line-height: 1.6;
    padding-bottom: 15px !important;
  }
  .services {
    padding: 60px 0 40px 0 !important;
  }
  .services-heading {
    width: 100%;
  }
  .services-heading h2 {
    font-size: 2.4rem;
  }
  .services-heading p {
    font-size: 1.125rem;
  }
  .about {
    padding: 40px 15px 40px 15px;
  }
  .about-text {
    padding: 0;
  }
  .about-text h5 {
    font-size: 1rem;
  }
  .about-text h3 {
    font-size: 2.4rem;
  }
  .about-img img {
    width: 100%;
  }
  .experience {
    padding: 100px 0 70px 0;
  }
  .experience-text {
    padding: 15px 30px !important;
  }
  .experience-text h5 {
    font-size: 1rem;
  }
  .experience-text h3 {
    font-size: 2.4rem;
  }
  .experience .exc-services {
    padding: 70px 0 20px 0;
  }
  .experience .exc-services-heading {
    width: 100%;
  }
  .experience .exc-services-heading h3 {
    font-size: 2.4rem;
  }
  .experience .exc-services-heading p {
    padding: 0 50px;
  }
  .choose-heading {
    width: 100%;
  }
  .choose-heading h5 {
    font-size: 1rem;
  }
  .choose-heading h3 {
    font-size: 2.4rem;
  }
  .choose-card {
    margin: 60px 0 40px 0;
  }
  .choose-card-inner {
    display: inline-block !important;
    text-align: center;
    padding: 60px 30px !important;
  }
  .choose-card-inner img {
    width: 25% !important;
    padding-bottom: 15px;
  }
  .choose-footer {
    padding-bottom: 40px;
  }
  .approach {
    padding: 40px 15px;
    margin-bottom: 0 !important;
  }
  .approach-heading {
    width: 100%;
  }
  .approach-heading h5 {
    font-size: 1rem;
  }
  .approach-heading h3 {
    font-size: 2.4rem;
  }
  .approach-img-text {
    padding: 35px 30px;
    left: 2%;
    width: 50%;
    bottom: -15%;
  }
  .approach-img h3 {
    font-size: 1.8rem;
    padding-bottom: 10px !important;
  }
  .approach-img p {
    font-size: 16px;
  }
  .feedback {
    padding: 40px 15px 40px 15px;
  }
  .feedback-heading {
    width: 100%;
  }
  .feedback-heading h3 {
    font-size: 2.4rem;
  }
  .feedback-heading p {
    font-size: 1.125rem;
  }
  .video {
    padding: 80px 35x;
  }
  .video-text {
    width: 100%;
  }
  .video-text h3 {
    font-size: 2.8rem;
    padding-bottom: 15px;
  }
  .questions {
    padding: 60px 15px 40px 15px;
  }
  .questions-heading {
    width: 100%;
  }
  .questions-heading h2 {
    font-size: 2.4rem;
    padding-bottom: 15px;
  }
  .questions-heading p {
    padding-bottom: 30px;
  }
  .questions-contact {
    width: 100%;
    padding: 40px 80px;
    display: inline-block !important;
    text-align: center;
  }
  .questions-contact h6 {
    font-size: 1.125rem;
    width: 100%;
    line-height: 1.6;
  }
  .address {
    text-align: center;
    padding: 20px 0;
  }
  .address-icons {
    padding-bottom: 15px;
  }
  .address-icons img {
    width: 30% !important;
  }
  .footer-bottom-left {
    text-align: center !important;
    padding-bottom: 15px;
  }
  .footer-bottom-right {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .sticky .navbar {
    padding: 25px 0 !important;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  .Banner .navbar {
    padding: 30px 15px !important;
  }
  .Banner .navbar .container-fluid {
    line-height: 0px;
  }
  .Banner .navbar .container-fluid .navbar-brand {
    width: 17%;
  }
  .Banner .banner-text {
    padding: 50px 0 50px 0 !important;
  }
  .Banner .banner-text-all h2 {
    font-size: 4.7rem !important;
  }
  .Banner .banner-text-all h6 {
    font-size: 1.215rem !important;
    line-height: 1.6;
    padding-bottom: 15px !important;
  }
  .services {
    padding: 60px 0 40px 0 !important;
  }
  .services-heading {
    width: 100%;
  }
  .services-heading h2 {
    font-size: 2.78rem;
  }
  .services-heading p {
    font-size: 1.125rem;
  }
  .about-text {
    padding: 0;
  }
  .about-text h5 {
    font-size: 1rem;
  }
  .about-text h3 {
    font-size: 2.78rem;
  }
  .experience {
    padding: 100px 0 70px 0;
  }
  .experience-text {
    padding: 15px 30px !important;
  }
  .experience-text h5 {
    font-size: 1rem;
  }
  .experience-text h3 {
    font-size: 2.33rem;
  }
  .experience .exc-services {
    padding: 70px 0 20px 0;
  }
  .experience .exc-services-heading {
    width: 100%;
  }
  .experience .exc-services-heading h3 {
    font-size: 2.78rem;
  }
  .experience .exc-services-heading p {
    padding: 0 50px;
  }
  .choose-heading {
    width: 100%;
  }
  .choose-heading h5 {
    font-size: 1rem;
  }
  .choose-heading h3 {
    font-size: 2.78rem;
  }
  .choose-card {
    margin: 60px 0 40px 0;
  }
  .choose-card-inner {
    display: inline-block !important;
    text-align: center;
    padding: 60px 30px !important;
  }
  .choose-card-inner img {
    width: 25% !important;
    padding-bottom: 15px;
  }
  .choose-footer {
    padding-bottom: 40px;
  }
  .approach {
    padding: 40px 15px;
    margin-bottom: 0 !important;
  }
  .approach-heading {
    width: 100%;
  }
  .approach-heading h5 {
    font-size: 1rem;
  }
  .approach-heading h3 {
    font-size: 2.78rem;
  }
  .approach-img-text {
    padding: 44px 32px;
    left: 7%;
    width: 50%;
    bottom: 0%;
  }
  .approach-img h3 {
    font-size: 2.215rem;
    padding-bottom: 10px !important;
  }
  .approach-img p {
    font-size: 16px;
  }
  .feedback {
    padding: 40px 15px 40px 15px;
  }
  .feedback-heading {
    width: 100%;
  }
  .feedback-heading h3 {
    font-size: 2.78rem;
  }
  .feedback-heading p {
    font-size: 1.125rem;
  }
  .video {
    padding: 100px 100px;
  }
  .video-text {
    width: 100%;
    padding: 0 100px;
  }
  .video-text h3 {
    font-size: 3.1rem;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .questions {
    padding: 60px 15px 40px 15px;
  }
  .questions-heading {
    width: 100%;
  }
  .questions-heading h2 {
    font-size: 2.78rem;
    padding-bottom: 15px;
  }
  .questions-heading p {
    padding-bottom: 30px;
  }
  .questions-para h4 {
    font-size: 1.2rem;
  }
  .questions-para p {
    font-size: 1.025rem;
  }
  .questions-contact {
    width: 100%;
  }
  .questions-contact h6 {
    font-size: 1.125rem;
    width: 100%;
    line-height: 1.6;
    width: 65%;
  }
  .questions-contact button {
    font-size: 17px;
  }
  .address {
    padding: 20px 0;
  }
  .address-icons {
    padding-bottom: 15px;
  }
  .sticky .navbar {
    padding: 25px 0 !important;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .Banner .navbar {
    padding: 30px 0px !important;
  }
  .Banner .navbar .container-fluid {
    line-height: 0px;
  }
  .Banner .navbar .container-fluid .navbar-brand {
    width: 17%;
  }
  .Banner .banner-text {
    padding: 50px 0 50px 0 !important;
  }
  .Banner .banner-text-all h2 {
    font-size: 4.7rem !important;
  }
  .Banner .banner-text-all h6 {
    font-size: 1.215rem !important;
    line-height: 1.6;
    padding-bottom: 15px !important;
  }
  .services {
    padding: 60px 0 40px 0 !important;
  }
  .services-heading h2 {
    font-size: 2.78rem;
  }
  .services-heading p {
    font-size: 1.125rem;
  }
  .about-text {
    padding: 0;
  }
  .about-text h5 {
    font-size: 1rem;
  }
  .about-text h3 {
    font-size: 3.125rem;
  }
  .experience {
    padding: 100px 0 70px 0;
  }
  .experience-text {
    padding: 15px 30px !important;
  }
  .experience-text h5 {
    font-size: 1rem;
  }
  .experience-text h3 {
    font-size: 2.33rem;
  }
  .experience .exc-services {
    padding: 70px 0 20px 0;
  }
  .experience .exc-services-heading h3 {
    font-size: 3.125rem;
  }
  .experience .exc-services-heading p {
    padding: 0 50px;
  }
  .choose-heading {
    width: 100%;
  }
  .choose-heading h5 {
    font-size: 1rem;
  }
  .choose-heading h3 {
    font-size: 3.125rem;
  }
  .choose-card {
    margin: 60px 0 40px 0;
  }
  .choose-card-inner {
    display: inline-block !important;
    text-align: center;
    padding: 60px 30px !important;
  }
  .choose-card-inner img {
    width: 25% !important;
    padding-bottom: 15px;
  }
  .choose-footer {
    padding-bottom: 40px;
  }
  .approach {
    padding: 40px 15px;
    margin-bottom: 0 !important;
  }
  .approach-heading h5 {
    font-size: 1rem;
  }
  .approach-heading h3 {
    font-size: 3.125rem;
  }
  .approach-img h3 {
    font-size: 2.215rem;
    padding-bottom: 10px !important;
  }
  .approach-img p {
    font-size: 16px;
  }
  .feedback {
    padding: 40px 15px 40px 15px;
  }
  .feedback-heading h3 {
    font-size: 3.125rem;
  }
  .feedback-heading p {
    font-size: 1.125rem;
  }
  .video-text {
    width: 50%;
  }
  .video-text h3 {
    font-size: 3.1rem;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .questions {
    padding: 60px 15px 40px 15px;
  }
  .questions-heading h2 {
    font-size: 3.125rem;
    padding-bottom: 15px;
  }
  .questions-heading p {
    padding-bottom: 30px;
  }
  .questions-para h4 {
    font-size: 1.2rem;
  }
  .questions-para p {
    font-size: 1.025rem;
  }
  .questions-contact h6 {
    font-size: 1.125rem;
    line-height: 1.6;
  }
  .questions-contact button {
    font-size: 17px;
  }
  .sticky .navbar {
    padding: 25px 0 !important;
  }
}/*# sourceMappingURL=responsive1.css.map */